body {
	background: #8e2de2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4a00e0,
		#8e2de2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#333333,
		#585858
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	background: #8e2de2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4a00e0,
		#8e2de2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#4a00e0,
		#8e2de2
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 80vh;
	width: 680px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 20px;
}

.img {
	height: 90%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background: none;
	border: none;
	outline: none;
	height: 10%;
}

button img {
	width: 60px;
	outline: none;
	cursor: pointer;
}

.img img {
	width: 60%;
	height: auto;
	transition: transform 7s cubic-bezier(0.5, 0.1, 0.15, 1);
	transform: rotate(0deg);
	z-index: 1;
	pointer-events: none;
}
.container {
	position: relative;
}

.container:before {
	content: "";
	position: absolute;
	top: 0px;
	height: 74px;
	width: 4px;
	background: white;
	left: 50%;
	border-radius: 5px;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
